*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* Contenedor */
.contenedor{
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
}

/* Header y Menu */
header{
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo h1{
    padding: 8px 16px;
    color: #fff;
    background-color: #6499E7;
    border-radius: 4px;
}

header nav a{
    color: #6499E7;
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
}

header nav a:hover{
    text-decoration: underline;
    color: #8E9CD3;
}

/* Main */
.main{
    background-color: #fff;
    padding: 20px;
    width: 70%;
}

.main article .imagen{
    margin-bottom: 20px;
}

.main article .imagen img{
    width: 100%;
    vertical-align: top;
}

.main article h2{
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 32px;
    color: #6499E7;
    text-align: center;
}

.main article p{
    margin-bottom: 20px;
    font-size: 16px;
    text-align: justify;
}