*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgba(156, 156, 156, .3);
}

/* Contenedor */
.contenedor{
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Header y Menu */
header{
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo h1{
    padding: 8px 16px;
    color: #fff;
    background-color: #6499E7;
    border-radius: 4px;
}

header nav a{
    color: #6499E7;
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
}

header nav a:hover{
    text-decoration: underline;
    color: #8E9CD3;
}

/* Main */
.main{
    background-color: #fff;
    padding: 20px;
    width: 70%;
    border-radius: 8px 0 0 8px;
}

.main article .imagen{
    margin-bottom: 20px;
}

.main article .imagen img{
    width: 100%;
    vertical-align: top;
}

.main article h2{
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 32px;
    color: #6499E7;
    text-align: center;
}

.main article p{
    margin-bottom: 20px;
    font-size: 16px;
    text-align: justify;
}

/* Aside */
aside{
    width: 30%;
    background-color: #6499E7;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 8px 8px 0;
}

aside .ad{
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding: 50px 0;
    background-color: #8E9CD3;
    border-radius: 8px;
}

/* Footer */
footer{
    width: 100%;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, .2);padding: 20px;
    color: #6499E7;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .redes-sociales a{
    color: #6499E7;
    text-decoration: none;
    margin-left: 20px;
}

footer .redes-sociales a:hover{
    color: #8E9CD3;
    text-decoration: underline;
}

/* Diseño Responsivo */
@media screen and (max-width: 767px){
    header{
        flex-direction: column;
        padding-bottom: 20px;
    }

    header .logo{
        margin-bottom: 20px;
    }

    header nav{
        width: 100%;
        padding: 20px;
        text-align: center;
        background-color: rgba(255, 255, 255, .2);
        border-radius: 8px;
    }

    .main{
        width: 100%;
        border-radius: 8px 8px 0 0;
    }

    aside{
        width: 100%;
        flex-direction: row;
        border-radius: 0 0 8px 8px;
    }

    aside .ad{
        width: 40%;
    }

    footer{
        flex-direction: column;
        text-align: center;
    }

    footer .autor{
        order: 2;
    }

    footer .redes-sociales{
        order: 1;
        margin-bottom: 20px;
    }
}